@model ShoppingList.Models.LoginViewModel

@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied!</h2>
<p>You don't have permission to see that page!</p>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
