@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 28px;">Login to your Shopping Lists</h1>
    <p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary"> Log in </a>
</p>
</div>
